form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
}
input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:#4CAF50;
}
.upper-part {
    background-color:#cadacc ; /* Light green color */
    padding: 10px 0;
    text-align: center;
}
/* Navbar styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cadacc;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 14px 20px;
    color: white; /* Link text color */
    text-decoration: none;
}

nav a:hover {
    background-color: #8eaf4c; /* Background color on hover */
}
